<div class="card mb-4">
  <div class="card-body">
    <p class="card-text"><%= text %>...</p>
  </div>
  <div class="card-footer">
    <span>Autor: <a href="/users/<%= id %>/show_posts"><%= author %></a></span>
  </div>
</div>
