<div class="card mb-5">
  <div class="container my-3">
    <h2>Crear publicación</h2>
    <form id="create-post-form">
      <!-- title -->
      <div class="mb-3">
        <label for="title" class="form-label">Título</label>
        <input type="text" id="title" class="form-control" name="title" placeholder="" required />
      </div>
      <!-- summary -->
      <div class="mb-3">
        <label for="summary" class="form-label">Resumen</label>
        <input type="text" id="summary" class="form-control" name="summary" placeholder="" required />
      </div>
      <!-- text -->
      <div class="mb-3">
        <label for="text" class="form-label">Texto</label>
        <textarea id="text" class="form-control" name="text"></textarea>
      </div>
      <!-- image -->
      <div class="mb-3">
        <label for="image" class="form-label">Imagen</label>
        <input type="text" id="image" class="form-control" name="image" placeholder="https://upload.wikimedia.org/wikipedia/commons/..." />
      </div>
      <button type="submit" class="btn btn-primary">Crear publicación</button>
    </form>
  </div>
</div>
