<div class="card mb-4">
  <% if (image !== null) { %>
    <a href="#!"><img class="card-img-top" src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg" alt="..." /></a>
  <% } %>
  <div class="card-body">
    <div class="small text-muted"><%= new Date(date).toLocaleDateString("es-cr", { dateStyle: "long" }) %></div>
    <h2 class="card-title h4"><%= title %></h2>
    <p class="card-text"><%= summary %></p>
    <a class="btn btn-primary" href="/view/posts/<%= id %>">Leer más →</a>
  </div>
</div>
